{% extends "talker/index.html" %}

{% block content1 %}
    {% load static %}
    <div id="info">
        <div class="container-fluid">
            {% for l in list %}
                <div class="info-content row">
                    <div class="col-sm-2">
                        <img style="width:100px;height:100px;" src="{% static 'talker/img/' %}{{ l.images }}.jpg">
                    </div>
                    <div class="col-sm-10">
                        <h3>{{ l.title }}</h3>
                        <p>{{ l.content }}</p>
                        <label>{{ l.category }}</label>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
{% endblock %}